pudb
mypy
ipdb
pytest==6.2.5
pytest-env
pytest-sugar
pytest-django
pytest-forked
pytest-mock
pytest-cache
pytest-cov
pytest-flakes
pytest-mypy
pytest-mccabe
pytest-xdist
pytest-lazy-fixture
pytest-elasticsearch
yapf
twine
jedi==0.17.2
pyflakes
coverage
flake8
coveralls
pylint==2.13.9
pylint-django
pylint-plugin-utils
pytest-pylint
pylint-quotes
pytest-pydocstyle
pytest-pycodestyle
ipython
tox
bandit
importmagic
epc
virtualfish
pydocstyle
codecov
pre-commit