{% extends "photologue/root.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{{ block.super }}. {{ gallery.title }}{% endblock %}

{% block content %}

    <div id="gallery-description" class="effect-oscar wowload fadeInLeft">
        <strong>{{ gallery.title|safe }}</strong><br><br>
        <small>{{ gallery.description|safe }}</small>
    </div>

    <div class="text-center">
    {% if photos.paginator.num_pages > 1 %}
            <ul class="pagination">
                {% for i in photos.paginator.page_range %}
                    <li {% if photos.number == i %}class="active"{% endif %}><a
                            href="{% url 'photologue:pl-gallery' slug=gallery.slug page=i %}">{{ i }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div id="gallery" class="wowload fadeIn text-center">
        <ul id="gallery-photos">
            {% for photo in photos %}
                <li>
                    <a href="{{ photo.get_display_url }}" title="{{ photo.title }}">
                        <img height="{{ photo.get_thumbnail_size.1 }}" width="{{ photo.get_thumbnail_size.0 }}"
                             src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}">
                    </a>
                </li>
            {% endfor %}
        </ul>

        {% if photos.paginator.num_pages > 1 %}
            <ul class="pagination">
                {% for i in photos.paginator.page_range %}
                    <li {% if photos.number == i %}class="active"{% endif %}><a
                            href="{% url 'photologue:pl-gallery' slug=gallery.slug page=i %}">{{ i }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
{% endblock %}
