{% extends 'admin/change_list.html' %}
{% load humanize %}

{% block search %}
    <div class="calendar-link">Calendar</div>
    {{ block.super }}
{% endblock %}

{% block object-tools-items %}
    <li><a href="{% url 'admin:events_calendar' %}">Calendar</a></li>
    {{ block.super }}
{% endblock %}

{% block pagination %}
    {{ block.super }}
    <ul class="admin-additional-info">
        <li>total: <strong>{{ total|intcomma }}</strong></li>
        <li>expenses: <strong>{{ expenses|intcomma }}</strong></li>
        <li>paid: <strong>{{ paid|intcomma }}</strong></li>
        <li>result: <strong>{{ result|intcomma }}</strong></li>
    </ul>
{% endblock %}