.special {
  text-align: center;
  padding: 0px;
  margin: 20px 0px 0px 0px;
  letter-spacing: 2px;
  width: 100%;
  min-height: 55px;
  background: #961D29 /* url('/static/images/valentine/hearts-background.png') repeat*/;
}
.special h2 {
  font-family: 'Lobster', cursive;
  font-size: 2em;
  font-weight: 100;
  color: #FFFFFF;
  margin: 0px;
  padding: 3px 0px;
}
.special h2 a {
  color: #ffffff;
}
.special-second {
  background-color: #288035;
  background-image: none;
}
.works-special-banner {
  background-color: #961D29;
  color: #ffffff;
  position: absolute;
  top: 15px;
  left: 0px;
  width: 80px;
  z-index: 999;
  padding: 8px 0px;
  font-size: 1em;
}
figure:hover .works-special-banner {
  display: none;
}
