{% load staticfiles %}

<div id="works" class="clearfix grid">

    {% for gallery in galleries %}
        {% with photo=gallery.photos.all|first %}
            <figure class="effect-oscar  wowload fadeIn">
                {% if gallery.extended.is_special %}
                    <div class="works-special-banner">% скидка</div>
                {% endif %}
                <img src="{{ photo.get_thumbnail_gallery_url }}" alt="{{ photo.title }}">
                <figcaption>
                    <h2><a href="{{ gallery.get_absolute_url }}">{{ gallery.title }}</a></h2>
                    <p>
                        <a class="no-border" href="{{ gallery.get_absolute_url }}">
                        {% if gallery.extended.small_description %}
                            {{ gallery.extended.small_description|safe }}
                        {% else %}{{ gallery.description|safe }}
                        {% endif %}
                        </a><br>
                        <a class="hidden-xs" href="{{ gallery.get_absolute_url }}">Посмотреть</a></p>
                </figcaption>
            </figure>
        {% endwith %}
    {% endfor %}
</div>
