{% extends  'layout.html' %}

{% load staticfiles %}
{% load i18n %}

{% block extrahead %}
    {{ extrahead.content|safe }}
{% endblock %}

{% block content %}
    {% include 'pages/galleries.html' %}

    {% if special %}
        <div id="special">
            {{ special.content|safe }}
        </div>
    {% endif %}

    <div id="about" class="container spacer about">
        {{ about.content|safe }}
    </div>


    <div class="highlight-info">
        <div class="overlay spacer">
            <div class="container">
                <div class="row text-center  wowload fadeInDownBig">
                    <div class="col-sm-3 col-xs-6">
                        <i class="fa fa-smile-o fa-5x"></i>
                        <h4>{% blocktrans count counter=clients %}{{ clients }} {{ name }}{% plural %}{{ clients }} {{ name }}{% endblocktrans %}</h4>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <i class="fa fa-cart-arrow-down fa-5x"></i>
                        <h4>{% blocktrans count counter=orders %}{{ orders }} {{ name }}{% plural %}{{ orders }} {{ name }}{% endblocktrans %}</h4>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <i class="fa fa-camera  fa-5x"></i>
                        <h4>{% blocktrans count counter=photos %}{{ photos }} {{ name }}{% plural %}{{ photos }} {{ name }}{% endblocktrans %}</h4>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <i class="fa fa-calendar-o fa-5x"></i>
                        <h4>{% blocktrans count counter=days %}{{ days }} {{ name }}{% plural %}{{ days }} {{ name }}{% endblocktrans %}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'pages/reviews.html' %}


    <div id="prices" class="container spacer">
        {{ prices.content|safe }}
    </div>

    {% include 'pages/contacts.html' %}

{% endblock %}