{% load i18n %}
<div class="modal fade" id="review-form-modal" tabindex="-1" role="dialog" aria-labelledby="review-form-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Написать отзыв</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="review-form-send"
                        data-close-text=" {% trans "close" %}">
                    {% trans "send" %}
                </button>
            </div>
        </div>
    </div>
</div>