DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'db_name',
        'USER': 'username',
        'PASSWORD': 'password',
        'HOST': '127.0.0.1',
        'PORT': '5432'
    }
}

EMAIL_USE_TLS = True
EMAIL_HOST = 'smtp.example.com'
EMAIL_PORT = 587
EMAIL_HOST_USER = 'admin'
EMAIL_HOST_PASSWORD = 'password'
DEFAULT_FROM_EMAIL = 'Vishleva.com <admin@example.ru>'
SERVER_EMAIL = 'Vishleva.com <admin@example.ru>'

ADMINS = (('Name', 'admin@example.com'),)
MANAGERS = ADMINS

SECRET_KEY = 'my_super_secret_key'
ALLOWED_HOSTS = ['127.0.0.1']
DEBUG = False

AWS_ACCESS_KEY_ID = 'AWS_ACCESS_KEY_ID'
AWS_SECRET_ACCESS_KEY = 'AWS_SECRET_ACCESS_KEY'

AWS_ACCESS_KEY_ID = 'AWS_ACCESS_KEY_ID'
AWS_SECRET_ACCESS_KEY = 'AWS_SECRET_ACCESS_KEY'

#SMS_SENDER = 'vishleva.messengers.sms.providers.epochta.Epochta'
SMS_SENDER = 'vishleva.messengers.sms.providers.db.Db'

EPOCHTA_PUBLIC_KEY = '375cf47d53e9b2a0bdc5924b39f3f6cc'
EPOCHTA_PRIVATE_KEY = 'd2663673ca008c05a161689ac2fa10e8'


